@import "variables";

.status {
    display: inline-flex;
    margin: 10px;
    width: 45%;
    flex-direction: column;
    color: white;
    background: $colorOrderCard;
    font-family: $fontType;
    font-style: $fontStyle;
    font-size: 20px;
    p{
      margin: 0 10px;
      width: fit-content;
      padding: 5px;   
      .info {
        color: #B67120;
        // font-weight: 500;        
      }
    }
    
    button {
      // position: absolute;
      bottom: 220px;
      background: #15c742;
      border-style: none;
      color: white;
      padding: 8px;
      right: 500px;
    }
    .tot {
      margin: 0;
      width: auto;
      padding: 5px;
      border-top: 3px solid;
      // font-weight: bold;
      letter-spacing: 2px;
    }
  }
  .tableOrderCard {
    margin-top: $font-button;
    margin-bottom: $font-button*2;
    td, th {
      text-align: left;
      vertical-align: top;
      border-collapse: collapse;
      border-bottom: 1px solid white;
      border-top: 1px solid white;
    }
    i {
      color: #ffffff;
      cursor: $pointer;
    }
  }