.body-waiter{
    display: flex;
}
.grid-right{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.grid-left{
    display: flex;
    text-align: center;
}
.content-groups{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-products{
  background: rgba(0, 0, 0, 0.79);
}

.btn-waiter {
    height: 55px;
    font-size: 16px;
    margin: 4%;
}