$colorFont: #402207;
$colorBtn: #E1A155;
$tipoLetra: Heebo;
$pointer: pointer;
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:url('../images/fondo-principal.jpg');
}

.component-welcome {
    display: flex;
    margin: 45px;
    align-items: flex-end;
    flex-direction: column;
    @media screen and (min-width:1024px) {
        margin: 60px;
    }
}
.prueba{
    flex-direction: column;
    justify-content: space-around;
}
  
.logo-welcome{
    width: 280px;
    top: 23px;
    @media screen and (min-width:1024px) {
        width: 400px;
    }
}
.btn {
  background: $colorBtn;
  border-radius: 6px;
  font-family: $tipoLetra;
  font-style: normal;  
  color: $colorFont;
}

.btn-welcome {
  width: 312px;
  height: 70px;
  font-size: 36px;
  margin: 4%;
  cursor: $pointer;
    @media screen and (min-width:1024px) {
        width: 400px;
        font-size: 50px;
    }
}