$colorFont: #402207;
$colorBtn: #E1A155;
$tipoLetra: Heebo;

body {
  // background-color: red;
  background-image: url('./images/fondo-principal.jpg');
}
.mainMesero {
  background-image: url('./images/fondo-secundario.jpg');
}
.containerBtn {
  // background-color: blue;
  display: flex;
  justify-content: flex-end;
}
.btnMain {
  width: 312px;
  height: 93px;
  background: $colorBtn;
  border-radius: 6px;

  font-family: $tipoLetra;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  color: $colorFont;
}

.logo {
  background-color: yellow;
  // left: 29px;
  // top: -3px;
  background-image: url('./images/logo-NAVbar.png');
  width: 100px;
  height: 100px;  
}

.imgLogo {
  background-image: url('./images/logo-NAVbar.png');
}
